*{
    margin: 0;
    padding: 0;
}

div{
    max-width: 20%;
    margin-left: 40%;
    margin-top: 100px;
    border: 2px solid;
    }

img{
    max-width: 80%;
    height: auto;
    padding-left: 10%;
    margin-top: 15px;
}
span
{
    max-width: 90%;
    text-decoration:line-through;
    padding: 15px;
}
#price
{
    max-width: 90%;
    margin-bottom: 7px;
}
#main-description
{
    margin-left: 15px;
    margin-bottom: 7px;
    color: #bd4900;
}
ul{
    margin-left: 20px;
    max-width: 90%;
    
}
