*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #17153B;
}
.container{
    width: 80%;
    height: 56px;
    background-color: #433D8B;
    margin: 0 auto;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    position: fixed;
    top: 0;
    left: 10%;
    right: 10%;
    z-index: 1000;
}
.left-header i{
    padding-left: 3rem;
    color: #e9e4ec;
}
.left-header a:hover{
    border: #e9e4ec 1px solid;
    background-color: #e9e4ec;
    color: #17153B;
    border-radius: 16px;
}
.left-header a{
    margin-left: 5px;
    padding: 6px;
    text-decoration: none;
    color: #C8ACD6;
    font-size: large;
}
.right-header{
    padding-right: 25px;
}
.right-header i{
    padding-left: 2.5rem;
    color: #e9e4ec;
    font-size: larger;
    transition: transform 1s;
}
.right-header i:hover{
    transform: translateY(10px);
}
.home-page{
    background-color: #17153B;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}
.home-content{
    width: 40%;
    color: #e9e4ec;
    background-color: #433D8B;
    margin-left: 10%;
    padding: 20px;
    border: #C8ACD6 3px solid;
    border-radius: 16px;
}
.home-content h1{
    text-align: center;
    font-weight: bold;
}
.home-content h3{
    color: #17153B;
    font-weight: bolder;
    text-align: center;margin-bottom: 10px;
    position: relative;
    animation: moveUpDown 2s infinite;
}
@keyframes moveUpDown {
    0% { top: 0; }
    50% { top: -10px; }
    100% { top: 0; }
}
.aboutme{
    color: #e9e4ec;
    text-transform: capitalize;
}
.input-contact{
    width: 9rem;
    height: 40px;
    margin-left: 37%;
    border: #17153B 2px solid;
    border-radius: 16px;
    font-weight: bold;
}
.home-img{
    background-color: #e9e4ec;
    padding: 20px;
    border: 2px solid #e9e4ec;
    border-radius: 20px;
    margin-right: 105px;
    position: relative;
    animation: moveUpDown 2s infinite;
}
.edu{
    background-color: #e9e4ec;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edu-content h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 4rem;
    color: #433D8B;
}
.edu-content ul{
    font-size: larger;
    font-weight: bold;
}
.edu-content hr{
    display: block;
    width: 150px;
    border: 5px solid #433D8B;
    border-radius: 5px;
    margin-left: 110px;
}
.h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5em;
    color:  #433D8B;
    padding-top: 20px;
    padding-bottom: 20px;
}
.skills{
    text-align: center;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    
}
.skills div{
    border: 1px solid  #433D8B;
    width: calc(90% / 5);
    margin-left: 10px;
    padding: 10px;
    background-color: #e9e4ec;
    margin-bottom: 30px;
}
p{
    color:  #433D8B;
}
.skills .skill-name{
    color: black;
    font-weight: bold;
}
.vs-code i{
    color: #008ED4;
}
.html i{
    color: #F1652A;
}
.css i{
    color: #254BE6;
}
.bootstrap i{
    color: #7812F6;
}
.js i{
    color: #F7DF1D;
}
.skills i{
    font-size:40px;
    margin-bottom: 10px;
}
.contact-me{
    background-color: #433D8B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 350px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input {
    width: 700px;
    height: 30px;
    border: #ffffff 1px solid;
    border-radius: 16px;
    padding: 16px;
}
textarea{
    border-radius: 16px;
    padding: 16px;
}
.b-input{
    width: 9rem;
    height: 40px;
    margin: 0 auto;
    border: #17153B 2px solid;
    border-radius: 16px;
    font-weight: bold;
}
.icons i{
    font-size: xx-large;
    padding: 16px;
    margin-top: 10px;
    position: relative;
    animation: moveUpDown 2s infinite;
}
.icons .fa-linkedin{
    color: #0A66C2;
}
.icons .fa-github{
    color: #000000;
}
.icons .fa-whatsapp{
    color: #41E960;
}
.icons .fa-instagram{
    color: #CC3A9C;
}